#dashboard-columns {
    margin-top: 20px;
    height: calc(100vh - 66px - 20px);
    .bg-color-red {
        background-color: #ff5a5f;
        & a {
            color: white !important;
        }
    }
    .left-column {
        border-top: 0.1875rem solid #f3f3f3;
        border-right: 0.1875rem solid #f3f3f3;
        border-left: 0.1875rem solid #f3f3f3;
        & ul li {
            position: relative;
            font-size: 14px;
        }
        & ul li a#add-apartment-btn {
            font-size: 1.25rem;
        }
    }
    .right-column {
        position: relative;
        border-top: 0.1875rem solid #f3f3f3;
        border-right: 0.1875rem solid #f3f3f3;
        overflow-y: auto;
    }
}
