.main-dashboard-header, #dashboard-columns {
    @media screen and (max-width: 992px) {
        .container {
            max-width: 100%;
        }
    }
}

.main-dashboard-header {
    @media screen and (max-width: 768px) {
        .button-small-profile {
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    @media screen and (max-width: 344px) {
        .button-small-profile {
            i, span {
                display: none;
            }
            & div.drop {
                padding: 0 !important;
            }
        }
    }
}

#dashboard-columns {
    @media screen and (min-width: 992px) {
        .left-column {
            height: calc(100vh - 66px - 20px) !important;
        }
        .right-column {
            height: calc(100vh - 66px - 20px) !important;
        }
    }
    @media screen and (max-width: 992px) {
        .left-column {
            .tab-name {
            }
            & ul {
                flex-direction: row !important;
                align-items: center !important;
                & li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% / 3);
                    & a {
                        text-align: center !important;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 916px) {
        .left-column {
            .tab-name {
                font-size: 12px;    
            }
        }
    }
    @media screen and (max-width: 818px) {
        .left-column {
            .tab-name {
                font-size: 11px;    
            }
        }
    }
    @media screen and (max-width: 768px) {
        .left-column {
            & #add-apartment-btn {
                display: none !important;
            }
            & a.nav-link {
                justify-content: center;
            }
            i {
                padding: 11px 0;
                margin-right: 0 !important;
            }
            .tab-name {
                margin-left: 6px;
            }
        }
        .right-column {
            border-left: 0.1875rem solid #f3f3f3;
        }
    }
    @media screen and (max-width: 714px) {
        .left-column {
            .tab-name {
                display: none;
            }
        }
    }
}
