#admin-messages-index {
    & div.message_list_title {
        & h2 {
            font-size: 25px;
        }
    }
    & .message-details {
        & .field {
            border-top-right-radius: 13px;
            border-top-left-radius: 13px;
            background-color: #ff5a5f;
            border: 2px solid #ff5a5f;
            margin: 0;
        }
        & .details-body {
            border: 2px solid #ff5a5f;
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
        }
        & .my-btn {
            font-size: 14px;
            margin-right: 10px;
            padding: 7px 15px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            border-radius: 10px;
            display: block;
            border: 0px;
            font-weight: 500;

            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            &.btn-show-apartment {
                box-shadow: 0px 0px 14px -7px #ff9400s;
                background-image: linear-gradient(
                    45deg,
                    #ffd226 0%,
                    #ff9400 51%,
                    #ffd226 100%
                );
            }

            &.btn-reply {
                box-shadow: 0px 0px 14px -7px #00db84;
                background-image: linear-gradient(
                    45deg,
                    #9fed84 0%,
                    #00db84 51%,
                    #9fed84 100%
                );
            }

            &:hover {
                background-position: right center;
                /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}
