#admin-messages-index {
    & div.card{
        border: none;
    }
    & div.message_list_title {



        & h2 {
            font-size: 25px;
            
        }
    }
    & div.mask-custom {
        background: rgba(47, 220, 67, 0.471);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        }
    & div.card{
        & div.card-body{
            
            & h5 {
                color:rgb(83, 79, 71);
                font-style: italic;
                font-size: 22px;
            }

            & p {
                font-size: 15px;
            }

            & div.card-title{
                
            }

            div.card-text {

            }
        }
    }
}