#admin-apartments-show {
    & .card {
        background-color: #fa4545;
        color: rgb(255, 255, 255);
        & .card-title{
            & .sponsor-badge-icon{
                text-transform: capitalize;
                font-size: 18px;
                border-radius: 10px;
                font-weight: bold;
                padding: 5px 7px;
                color: white;
                border: 1px solid white;
            }
        }
        & .card-body {
            & .apartment-images {
                & img {
                    border-radius: 20px;
                    object-fit: cover;
                    width: 450px !important;
                    height: 260px !important;
                }
            }
        }
        & div.find-us {
            & .img-container {
                & img {
                    position: relative;
                    border-radius: 20px;
                }
            }
        }
    }
    & div.apartment-title {
        & h3 {
            font-size: 50px;
        }
    }
}