#admin-apartments-index {
    & nav.apartments-tabs button.active {
        font-weight: bold;
    }
    & div.tab-content {
        position: relative;
        & #nav-visible {
            border-left: .0625rem solid #dee2e6;
            border-right: .0625rem solid #dee2e6;
            border-bottom: .0625rem solid #dee2e6;
        }
        & #nav-hidden {
            border-left: .0625rem solid #dee2e6;
            border-right: .0625rem solid #dee2e6;
            border-bottom: .0625rem solid #dee2e6;
        }
        & #add-apartment-btn-md {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    & .card-container {
        width: calc(100% / 2 - 60px);
        margin: 20px 30px 0px 30px;
        & .image-container {
            position: relative;
        }
        & .apartment__image {
            height: 16.25rem;
            position: relative;
            & img{
                object-fit: cover;
                border-radius: .9375rem;
                width: 406.44px;
                height: 16.25rem;
            }
        }
        & .apartment__actions {
            width: 100%;
            border-radius: .625rem;
            background-color: #ff5a5f;
            & div.edit-button {
                border-left: .0625rem solid white;
                border-right: .0625rem solid white;
            }
            & a {
                color: white;
                text-decoration: none;
            }
        }
        & .apartment__info {
            margin-top: .625rem;
        }
    }

    & .sponsor-badge-icon{
        position: absolute;
        top: -20px;
        right: -23px;
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 10px;
        padding: 5px 7px;
        border: 2.5px solid #ff5a5f;
        color: #ff5a5f !important;
        background-color: white;
        font-weight: bold;
    }
}