#admin-apartments-show {
    & .card {
        & .card-title{
            & .sponsor-badge-icon{
                text-transform: capitalize;
                font-size: 18px;
                border-radius: 10px;
                font-weight: bold;
                padding: 5px 7px;
                color: white;
                border: 1px solid currentColor;
            }
        }
        & .apartment-images {
            & img {
                object-fit: cover;
                width: 100% !important;
                height: 100% !important;
                border-radius: 10px;
            }
        }
        & div.find-us {
            & .img-container {
                & img { 
                    object-fit: cover;
                    width: 100% !important;
                    height: 100% !important;
                    border-radius: 10px;
                }
            }
        }
        & .absolute-left{
            position: absolute;
            right: 0;
            top: 65%;
            font-weight: 600;
        }
    }
    & div.apartment-title {
        position: relative;
        & h3 {
            font-size: 50px;
        }
    }
    & .apartment-details {
        & .field {
            border-top-right-radius: 13px;
            border-top-left-radius: 13px;
            background-color: #ff5a5f;
            border: 2px solid #ff5a5f;
            margin: 0;
        }
        & .details-body {
            border: 2px solid #ff5a5f;
        }
        & .service-box {
            width: calc(100% / 4);
        }
    }
}