#admin-apartments-index {
    & nav.apartments-tabs button.active {
        font-weight: bold;
    }
    & div.tab-content {
        & #nav-visible {
            border-left: .0625rem solid #dee2e6;
            border-right: .0625rem solid #dee2e6;
            border-bottom: .0625rem solid #dee2e6;
        }
        & #nav-hidden {
            border-left: .0625rem solid #dee2e6;
            border-right: .0625rem solid #dee2e6;
            border-bottom: .0625rem solid #dee2e6;
        }
    }

    & .card-container {
        width: 20.625rem;
        & .carousel.slide {
            &:hover button {
                display: block !important;
            }
            & .apartment__image {
                width: 20.625rem;
                height: 16.875rem;
                object-fit: cover;
                border-radius: .9375rem;
            }
        }
        & .apartment__actions {
            border-radius: .625rem;
            background-color: #ff5a5f;
            & div.edit-button {
                border-left: .0625rem solid white;
                border-right: .0625rem solid white;
            }
            & a {
                color: white;
                text-decoration: none;
            }
        }
        & .apartment__info {
            margin-top: .625rem;
        }
    }
}