#admin-apartments-index {
    & .card-container {
        width: 20.625rem;
        & .carousel.slide {
            &:hover button {
                display: block !important;
            }
            & .apartment__image {
                width: 20.625rem;
                height: 20.625rem;
                object-fit: cover;
                border-radius: .9375rem;
            }
        }
        & .apartment__info {
            margin-top: .625rem;
        }
    }
}