@import url(https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.23.0/maps/maps.css);
@import url(https://api.tomtom.com/maps-sdk-for-web/6.x/6.23.0//examples/pages/examples/assets/ui-library/index.css);
@import url(https://api.tomtom.com/maps-sdk-for-web/cdn/plugins/SearchBox/3.2.0//SearchBox.css);
@import url(https://api.tomtom.com/maps-sdk-for-web/6.x/6.23.0//examples/pages/examples/assets/ui-library/icons-css/poi.css);


.map-view-container {
    .tt-side-panel {
        height: 500px;
    }
    #map {
        height: 500px;
    }
    canvas {
        height: 100% !important;
    }
}